 *{
    margin: 0px;
    padding: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
  }
  ::-webkit-scrollbar{
    width: 0px;
    height: 0px;
  }

  img{
    width: 210px;
    height: 1200px;
  }
  .github{
    width: 210px;
    height: 400px;
  }
   .spotify{
    width: 220px;
    height: 400px;
  }
  .linkedin{
    width: 210px;
    height: 2100px; 
  }
  a{
    display: block;
    background-color: #53a678;
    color: #fff6e6;
    padding: 10px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
  }
  